{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}{{product.name}}{% endblock title%}

{% block main-content %}
  <div class="container">
    <div class="row flex justify-content-between">
      <div class="img2 col-lg-5 mt-5">
      <img src="{{product.product_image.url}}" class="image cal-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center w-200 h-75" alt="">
    </div>
    <div class="productdetail col-lg-5">
      <h1 style="font-family: Georgia; font-size: 50px;">{{product.name}}</h1>
      <h3>${{product.price}}</h3>
      <br><br><h4 class="text-center">Product Description</h4>
      <h2 class="fs-5" style="font-family: Rajdhani;">
        {{product.description}}
      </h2>
      <div class="buttons row flex" style="font-family: Rajdhani;">
        <button type="submit" class="d-grid gap-2 btn1 btn btn-warning p-1 m-1 btn-lg text-decoration-none text-white">Add to Cart</button>
        <div class="btn btn-primary p-1 m-1 btn-lg"><a href="#" class="text-decoration-none text-white">Buy Now</a></div>
      </div>
    </div>
    </div>
  </div>
{% endblock main-content%}